# BSC Testnet
BSC_TESTNET_RPC_URL=https://data-seed-prebsc-2-s3.binance.org:8545
BSC_TESTNET_PRIVATE_KEY=

# BSC Mainnet
BSC_RPC_URL=https://bsc-dataseed.binance.org
BSC_PRIVATE_KEY=

# Etherscan / BscScan API key (for contract verification)
ETHERSCAN_API_KEY=

# AgenticCommerce (UUPS Proxy)
ERC8183_ADDRESS=0x8b121FEf5e1688B976D814003f05d9366F3Fa8A3
ACP_IMPL_ADDRESS=
PAYMENT_TOKEN_ADDRESS=0xc70B8741B8B07A6d61E54fd4B20f22Fa648E5565
APEX_MIN_BUDGET=0

# APEXEvaluator (UUPS Proxy)
APEX_EVALUATOR_ADDRESS=0x283d858244932664bd69eb7FE3b1587b84B14be8
OOV3_EVALUATOR_IMPL_ADDRESS=
OOV3_ADDRESS=0xFc5bb3e475cc9264760Cf33b1e9ea7B87942C709
EVALUATOR_LIVENESS=1800
INITIAL_BOND_DEPOSIT=100000000000000000000
SKIP_BOND_DEPOSIT=false

# Admin
NEW_PAYMENT_TOKEN=
